<div class="container">
    <div class="row">
        <div class="col-12 header">
            <h2>POKEDEX</h2>
            <span class="sub">
                Pesquise informações sobre algum POKÉMON!
            </span>
        </div>
        <div class="col-12 body">
            <div class="search-content">
                <input
                    type="text"
                    id="search"
                    name="search"
                    placeholder="Procurar Pokémon..."
                    required
                >
                <button
                    id="search"
                    (click)="fentchPokemon($event)">
                    <i class="bi bi-search"></i>
                </button>
            </div>
        </div>
        <div class="col-12 body">
            <div class="col">

                <div class="card-content">
                    <div class="card-content-top">
                        <div class="container">
                            <div class="header-content">
                                <div class="img-pokemon">
                                    <img src="" alt="">
                                </div>
                            </div>
                            <div class="title-content">
                                <h4>[Nome do Pokémon]</h4>
                            </div>
                            <div class="info-content">
                                <span class="id">
                                    #001
                                </span>
                                <div>
                                    <span class="type">
                                    Fire
                                    </span>
                                    <span class="type">
                                        Ice
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="card-content-bot">
                        <div class="col status">
                            <span>30</span>
                            <p>HP</p>
                        </div>
                        <div class="col status">
                            <span>30</span>
                            <p>Attack</p>
                        </div>
                        <div class="col status">
                            <span>30</span>
                            <p>Defense</p>
                        </div>
                    </div>
                </div>
                <div class="card-content">
                    <div class="card-content-top">
                        <div class="container">
                            <div class="header-content">
                                <div class="img-pokemon">
                                    <img src="" alt="">
                                </div>
                            </div>
                            <div class="title-content">
                                <h4>[Nome do Pokémon]</h4>
                            </div>
                            <div class="info-content">
                                <span class="id">
                                    #001
                                </span>
                                <div>
                                    <span class="type">
                                    Fire
                                    </span>
                                    <span class="type">
                                        Ice
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="card-content-bot">
                        <div class="col status">
                            <span>30</span>
                            <p>HP</p>
                        </div>
                        <div class="col status">
                            <span>30</span>
                            <p>Attack</p>
                        </div>
                        <div class="col status">
                            <span>30</span>
                            <p>Defense</p>
                        </div>
                    </div>
                </div>
                <div class="card-content">
                    <div class="card-content-top">
                        <div class="container">
                            <div class="header-content">
                                <div class="img-pokemon">
                                    <img src="" alt="">
                                </div>
                            </div>
                            <div class="title-content">
                                <h4>[Nome do Pokémon]</h4>
                            </div>
                            <div class="info-content">
                                <span class="id">
                                    #001
                                </span>
                                <div>
                                    <span class="type">
                                    Fire
                                    </span>
                                    <span class="type">
                                        Ice
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="card-content-bot">
                        <div class="col status">
                            <span>30</span>
                            <p>HP</p>
                        </div>
                        <div class="col status">
                            <span>30</span>
                            <p>Attack</p>
                        </div>
                        <div class="col status">
                            <span>30</span>
                            <p>Defense</p>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>