@import '../../assets/sass/variables';

input#search{
    width: 75%;
    padding: 10px;
}


// ========== CARD CONTENT ==========
div.col div.block-content{
    gap: 20px;
    @include GridLayout-Columns(repeat(4, 1fr));

    @include screenTablet-low{
        @include GridLayout-Columns(repeat(2, 1fr));
    }

    @include screenPhone{
        @include GridLayout-Columns(repeat(1, 1fr));
    }

    div.card-content{
        padding: 10px;
        border-radius: 20px;
        background-color: #111111;

        &:hover{
            transition: $tran-03;
            box-shadow: 5px 5px 20px 0px #000000ad;
        }

        div.card-content-top{
            img{
                width: 100px;
                height: 100px;
                margin-bottom: 5vh;
            }

            h4{
                margin-bottom: 4vh;
                text-transform: capitalize;
                color: #dbe3eb;
            }

            div.info-content{
                gap: 15px;
                align-items: center;
                @include GridLayout-Columns(1fr 1fr 1fr);

                span.id{
                    margin-top: 2vh;
                    margin-bottom: 2vh;
                    font-weight: bold;
                    color: #f7caa0;
                }

                div{
                    @include GridLayout-Columns(repeat(1, 1fr));

                    span.type{
                        padding: 5px 7px;
                        font-weight: bold;
                        color: #111111;
                    }

                    .fire{
                        background-color: #fd1414;
                    }

                    .grass{
                        background-color: #adff2f;
                    }

                    .water{
                        background-color: #2121fa;
                    }

                    .normal{
                        background-color: #f0f8ff;
                    }

                    .poison{
                        background-color: #8002bb;
                    }

                    .ghost{
                        background-color: #470366;
                    }

                    .bug{
                        background-color: #6bb100;
                    }

                    .electric{
                        background-color: #ffff00;
                    }

                    .ground{
                        background-color: #3b2202;
                    }

                    .rock{
                        background-color: #804902;
                    }

                    .dragon{
                        background-color: #cb9200;
                    }

                    .fighting{
                        background-color: #cb3a00;
                    }

                    .ice{
                        background-color: #00ced1;
                    }

                    .psychic{
                        background-color: #9932cc;
                    }

                    .fairy{
                        background-color: #ff1493;
                    }

                    .flying{
                        background-image: linear-gradient(to bottom, #00ffff, #f0f8ff 68%);
                    }

                    .steel{
                        background-image: linear-gradient(to bottom, #fcffff, #abacad 68%);
                    }
                }
            }
        }
    
        div.card-content-bot{
            display: flex;

            div.col.status{
                gap: 12px;
                display: flex;
                flex-direction: column;

                span, p{
                    color: #dbe3eb;
                }

                span{
                    font-size: 23px;
                    font-weight: bold;
                }
                
                p{
                    font-size: 1.2rem;
                    letter-spacing: 2px;
                    margin-bottom: 0 !important;
                    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
                }
            }
        }
    }
}
// ========== END OF CARD CONTENT ==========

div.col div.loader{
    @include FlexBox-Custom(column, center);

    div.loader-spinner{
        width: 14rem;
        height: 14rem;
        border-radius: 50%;
        margin-bottom: 5vh;
        border-left: 4px solid dimgrey;
        animation: spin 1.5s linear infinite;
    }

    p.loader-text{
        font-size: 1.2rem;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }
}

@keyframes spin{
    to{
        transform: rotate(360deg);
    }
}