<div class="container">
    <div class="row">
        <div class="col-12 header">
            <h2>POKEDEX</h2>
            <span class="sub">
                Pesquise informações sobre algum POKÉMON!
            </span>
            <span class="sub">
                (N° de Pokémons: {{pokemons.length}})
            </span>
        </div>
        <div class="col-12 body">
            <div class="search-content">
                <input
                    type="text"
                    id="search"
                    name="search"
                    placeholder="Digite o nome de algum Pokémon..."
                    (input)="searchPokemon($event)"
                    required
                >
            </div>
        </div>
        <div class="col-12 body">
            <div class="col">

                <div class="card-content" *ngFor="let pokemon of pokemons">
                    <div class="card-content-top">
                        <div class="container">
                            <div class="header-content">
                                <div class="img-pokemon">
                                    <img src="{{pokemon.sprites.front_default}}" alt="">
                                </div>
                            </div>
                            <div class="title-content">
                                <h4>{{pokemon.name}}</h4>
                            </div>
                            <div class="info-content">
                                <span class="id">
                                    #{{pokemon.id}}
                                </span>

                                <ng-container *ngFor="let pokemonType of pokemon.types">
                                    <div>
                                        <span class="type {{pokemonType.type.name}}">
                                            {{pokemonType.type.name}}
                                        </span>
                                    </div>
                                </ng-container>

                            </div>
                        </div>
                    </div>

                    <hr>

                    <div class="card-content-bot">
                        <div class="col status">
                            <span>
                                {{pokemon.stats[0].base_stat}}
                            </span>
                            <p>HP</p>
                        </div>
                        <div class="col status">
                            <span>
                                {{pokemon.stats[1].base_stat}}
                            </span>
                            <p>ATK</p>
                        </div>
                        <div class="col status">
                            <span>
                                {{pokemon.stats[2].base_stat}}
                            </span>
                            <p>DEF</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>