<div class="container">
    <div class="row">
        <div class="col-12 header">
            <h2>Sobre o PROJETO POKÉMON</h2>
            <span class="sub">
                Informações à respeito do projeto.
            </span>
        </div>
        <div class="body">
            <table>
                <thead>
                    <tr>
                        <th colspan="4">Pokémon Project</th>
                    </tr>
                    <tr class="sub-title">
                        <th colspan="2">Tecnologias</th>
                        <th>Qtd. de Pokémons</th>
                        <th>Status do Projeto</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <i class="devicon-angularjs-plain"></i>
                        </td>
                        <td>
                            <i class="devicon-bootstrap-plain"></i>
                        </td>
                        <td>
                            {{pkmnQTD}}
                        </td>
                        <td>
                            Em Andamento...
                        </td>
                    </tr>
                </tbody>
                <thead>
                    <tr class="sub-title">
                        <th colspan="4">Gerações Pokémon</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <img src="assets/img/pokemon-1-gen.png" alt="PRIMEIRA GERAÇÃO">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>