/* You can add global styles to this file, and also import other style files */

:root{
    --backgroud: #f0f8ff;
    --color-letter: #111111;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

main{
    margin-top: 10vh;
    margin-bottom: 10vh;
}

div.col-12.header{
    margin-bottom: 5vh !important;
    text-align: center;

    h2{
        font-size: 2.2rem;
        animation: rowColors 2.5s linear infinite;
        font-family: 'Press Start 2P', sans-serif;
    }

    span.sub{
        opacity: .7;
        font-style: italic;
    }
}

div.col-12.body{
    margin-bottom: 5vh !important;
}

@keyframes rowColors{
    100%, 0%{
        color: rgb(255,0,0);
    }
    8%{
        color: rgb(255,127,0);
    }
    16%{
        color: rgb(255,255,0);
    }
    25%{
        color: rgb(127,255,0);
    }
    33%{
        color: rgb(0,255,0);
    }
    41%{
        color: rgb(0,255,127);
    }
    50%{
        color: rgb(0,255,255);
    }
    58%{
        color: rgb(0,127,255);
    }
    66%{
        color: rgb(0,0,255);
    }
    75%{
        color: rgb(127,0,255);
    }
    83%{
        color: rgb(255,0,255);
    }
    91%{
        color: rgb(255,0,127);
    }
}

div.col-12.body{
    text-align: center;

    p{
        font-size: 1rem;
        font-family: Arial, Helvetica, sans-serif;
    }
}