<div class="container">
    <div class="row">
        <div class="col-12 header">
            <h2>Criar um novo pokémon</h2>
            <span class="sub">
                Para os amantes da franquia POKÉMON esta área é para você!!!
            </span>
        </div>
        <div class="col-12 body">
            <p>
                Crie o seu FAN-POKÉMON, registrando dados na ficha técnica e apresente aos outros.
            </p>
        </div>
        <div class="col-12 body">
            <a [routerLink]="['/']">
                <button>
                    Retornar para a HOME
                </button>
            </a>
        </div>
    </div>
</div>