<footer>
    <div class="container">
        <div class="row">
            <div class="col-12 top-footer">
                <img src="assets/img/pokemon-logo.png" alt="POKÉMON LOGO">
            </div>
            <div class="col-12 top-footer">
                <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/angularjs/angularjs-plain-wordmark.svg" class="angular-icon"/>
            </div>
            <hr class="mt-5 mb-5">
            <div class="col-12 mid-footer">
                
            </div>
            <hr class="mt-5 mb-5">
            <div class="col-12 bot-footer">
                <p>
                    Pokémon é uma franquia de mídia que pertence a 
                    <strong>
                        <a href="https://www.pokemon.com/br/" target="_blank">
                            The Pokémon Company
                        </a>
                    </strong>
                    , tendo sido criada por 
                    <strong>
                        <a href="https://pt.wikipedia.org/wiki/Satoshi_Tajiri" target="_blank">
                            Satoshi Tajiri
                        </a>
                    </strong> 
                    em 1995. Ela é centrada em criaturas ficcionais chamadas "Pokémon", que os seres humanos capturam e os treinam para lutarem entre si com seus ataques de diversos tipos.
                </p>
            </div>
        </div>
    </div>
</footer>