<footer>
    <div class="container">
        <div class="row">
            <div class="col-12 top-footer">
                <img src="assets/img/pokemon-logo.png" alt="POKÉMON LOGO">
            </div>
            <div class="col-12 top-footer">
                <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/angularjs/angularjs-plain-wordmark.svg" class="angular-icon"/>
            </div>
            <hr class="mt-5 mb-5">
            <div class="col-12 mid-footer">

                <div class="column-contacts">
                    <div class="contacts-header">
                        <h4>Contatos</h4>
                    </div>
                    <div class="contacts-body">
                        <article>
                            <a href="http://wallacefmds360@outlook.com/" target="_blank">
                                <img src="https://img.shields.io/badge/Outlook-1DA1F2?style=for-the-badge&logo=microsoft&logoColor=111111&color=F0F8FF" height="30" width="100"/>
                            </a>
                        </article>
                        <article>
                            <a href="https://tamakiamajiki360@gmail.com/" target="_blank">
                                <img src="https://img.shields.io/badge/GMAIL-1DA1F2?style=for-the-badge&logo=gmail&logoColor=111111&color=F0F8FF" height="30" width="100"/>
                            </a>
                        </article>
                    </div>
                </div>
                <div class="column-contacts">
                    <div class="contacts-header">
                        <h4>Redes Sociais</h4>
                    </div>
                    <div class="contacts-body">
                        <article>
                            <a href="https://twitter.com/Walleemc2" target="_blank">
                                <img src="https://img.shields.io/badge/Twitter-1DA1F2?style=for-the-badge&logo=twitter&logoColor=111111&color=F0F8FF" height="30" width="100"/>
                            </a>
                        </article>
                        <article>
                            <a href="https://www.linkedin.com/in/wallace-freitas-92a2061b6/" target="_blank">
                                <img src="https://img.shields.io/badge/LinkedIn-0077B5?style=for-the-badge&logo=linkedin&logoColor=111111&color=F0F8FF" height="30" width="100"/>
                            </a>
                        </article>
                        <article>
                            <a href="https://instagram.com/wallace_emc2" target="_blank">
                                <img src="https://img.shields.io/badge/-Instagram-6610F2?style=for-the-badge&logo=Instagram&logoColor=111111&color=F0F8FF" height="30" width="100"/>
                            </a>
                        </article>
                        <article>
                            <a href="https://www.reddit.com/user/StarkBakuha" target="_blank">
                                <img src="https://img.shields.io/badge/Reddit-FF4500?style=for-the-badge&logo=reddit&logoColor=111111&color=F0F8FF" height="30" width="100"/>
                            </a>
                        </article>
                    </div>
                </div>
                <div class="column-contacts">
                    <div class="contacts-header">
                        <h4>Outros Projetos</h4>
                    </div>
                    <div class="contacts-body">
                        <article>
                            <a href="https://baku-stark.github.io/Portfolio-Wallace/indexBaku.html" target="_blank">
                                <img src="https://img.shields.io/badge/Portfolio-%23000000.svg?style=for-the-badge&logo=firefox&logoColor=#FF7139&"
                                height="30" width="200"/>
                            </a>
                        </article>
                        <article>
                            <a href="https://discord.com/api/oauth2/authorize?client_id=1055540316725313626&permissions=8&scope=applications.commands%20bot" target="_blank">
                                <img src="https://img.shields.io/badge/BOT Spright Blue-%23000000.svg?style=for-the-badge&logo=discord&logoColor=#FF7139&"
                                height="30" width="200"/>
                            </a>
                        </article>
                    </div>
                </div>

            </div>
            <hr class="mt-5 mb-5">
            <div class="col-12 bot-footer">
                <p>
                    Pokémon é uma franquia de mídia que pertence a 
                    <strong>
                        <a href="https://www.pokemon.com/br/" target="_blank">
                            The Pokémon Company
                        </a>
                    </strong>
                    , tendo sido criada por 
                    <strong>
                        <a href="https://pt.wikipedia.org/wiki/Satoshi_Tajiri" target="_blank">
                            Satoshi Tajiri
                        </a>
                    </strong> 
                    em 1995. Ela é centrada em criaturas ficcionais chamadas "Pokémon", que os seres humanos capturam e os treinam para lutarem entre si com seus ataques de diversos tipos.
                </p>
            </div>
        </div>
    </div>
</footer>